In [3]:
# Read Mobile cellular subscriptions (per 100 people) - IT.CEL.SETS.P2
import pandas as pd

df = pd.read_csv('data/worldbank/API_IT.CEL.SETS.P2_DS2_en_csv_v2_936744/API_IT.CEL.SETS.P2_DS2_en_csv_v2_936744.csv',index_col=0,skiprows=4 )

/Users/brendan/.pyenv/versions/3.7.6/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
df.head(2)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0.0,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,131.630265,134.549579,134.619462,135.133840,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0.0,NaN,NaN,NaN,NaN,0.0,NaN,...,45.813626,49.227977,52.083576,55.159515,57.271068,61.054638,65.929134,59.120848,NaN,NaN

In [7]:
# Remove extraneous columns
df.drop(df.columns[-1],axis=1, inplace=True)
df.drop(df.columns[0:3],axis=1, inplace=True)
df.head(2)
df.describe()

TypeError: 'tuple' object is not callable

In [9]:
#interpolate the findings to monthly
i = df.loc['Ireland']
i.index = pd.to_datetime(i.index)
r = i.resample('M').fillna('nearest')
r.interpolate(method='spline',order=2)

1966-01-31           NaN
1966-02-28           NaN
1966-03-31           NaN
1966-04-30           NaN
1966-05-31           NaN
                 ...
2016-09-30    103.063001
2016-10-31    103.063001
2016-11-30    103.063001
2016-12-31    103.063001
2017-01-31    103.063001
Freq: M, Name: Ireland, Length: 613, dtype: float64

In [76]:
stacked_df = df.stack(dropna=False)
print(stacked_df.head(2))
# long_df = stacked_df.reset_index()
long_df = pd.DataFrame(stacked_df)
print(long_df.info())
print(long_df)
# Convert level to datetime and make index
long_df['Date'] = pd.to_datetime(long_df[1])
long_df = long_df.rename(columns={1:'Year', 2:'Mobile %'})
long_df.set_index('Date', inplace=True)
print(long_df.head(4))

long_df.info()
#print(interpolated.head(32))

Country Name
Aruba         1960    0.0
              1961    NaN
dtype: float64
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15840 entries, ('Aruba', '1960') to ('Zimbabwe', '2019')
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10939 non-null  float64
dtypes: float64(1)
memory usage: 172.8+ KB
None
                           0
Country Name
Aruba        1960   0.000000
             1961        NaN
             1962        NaN
             1963        NaN
             1964        NaN
...                      ...
Zimbabwe     2015  92.347105
             2016  91.793458
             2017  98.985073
             2018  89.404869
             2019        NaN

[15840 rows x 1 columns]

KeyError: 1

In [74]:
stacked_df.dtypes
#stacked_df.resample('M').first().reset_index().head(10)

dtype('float64')

In [88]:
long_df.index.names=['Country','Year']
long_df.index = long_df.index.set_levels([long_df.index.levels[0], pd.to_datetime(long_df.index.levels[1])])
long_df.resample('M').interpolate(method='linear', on index.levels[1])
long_df
#resample('M').interpolate(method='linear', on='Mobile %')
#interpolated = upsampled.interpolate(method='spline', order=2)

SyntaxError: invalid syntax (<ipython-input-88-3acce817cc40>, line 3)